# --- 后端 (Python/FastAPI) ---
backend/__pycache__/
backend/.venv/
backend/*.pyc
backend/.env
backend/build/
backend/.env.production
backend/.env.development
__pycache__/
*.pyc
*.pyo
*.pyd
# --- 前端 (Node/React) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*

# --- 系统与 IDE ---
.DS_Store
.vscode/
.idea/
README.md
uploads
README