backend/__pycache__/
backend/venv/
backend/.venv/
backend/*.pyc
backend/.env
backend/build/
backend/uploads/
backend/.env.production
backend/.env.development
__pycache__/
*.pyc
*.pyo
*.pyd
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
.DS_Store
.vscode/
.idea/
uploads
